.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/asphalt-dark.png");
  text-align: center;
  padding-top: .5%;
  margin-left: 0;
}

span{
  color: #1e847f;
}
