.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #A16E83;
  background-image: url("https://www.transparenttextures.com/patterns/xv.png");
  text-align: center;
  padding-top: .5%;
  margin-left: 0;
}

span{
  color: darkgray;
}
