<form class="go-right">
    <h2>To Right</h2>
    <div class="row no-gutters">
        <div class="col-sm-2">
            <i class="fa fa-user-circle"></i>
        </div>
        <div class="col-sm-10">
            <input id="name" name="name" type="text" required>
            <label for="name">Your Name</label>
        </div>
    </div>
    <div>
        <input id="phone" name="phone" type="tel" required>
        <label for="phone">Primary Phone</label>
    </div>
    <div>
        <textarea id="message" name="phone" required></textarea>
        <label for="message">Message</label>
    </div>
</form>
