<div class="container">
    <div class="row">
        <div class="col-sm-6 login">
            <div>
                <p class="registration">
                    App Description
                </p>
            </div>
            <div class="input-group justify-content-center">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
                </div>
                <input type="text" placeholder="Enter Username" name="username" [(ngModel)]="username">
            </div>
            <div class="input-group justify-content-center">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                </div>
                <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="password">
            </div>
            <button class="btn btn-warning" (click)=checkLogin()>
                Login
            </button>
        </div>
        <div class="col-sm-6 signup">
            <div>
                <p class="registration">
                    Don't have an account. Register here.
                </p>
            </div>
            <button class="btn btn-warning" (click)=goToSignUpPage()>
                Sign-Up
            </button>
        </div>


    </div>

</div>
