.container{
  width: 100%;
  margin-top: 5%;
  background-image: url("https://www.transparenttextures.com/patterns/light-paper-fiber.png");
  background-color: #c66b3d;
  color: white;
}

.login{
  text-align: center;
  border: 1px solid black;
}

.signup{
  text-align: center;
  border: 1px solid black;
}

.input-group{
  margin-top: 3%;
  max-width: 100%;
}

.fa-lock{
  width: 16px;
}

button{
  margin: 3% auto;
}

.registration{
text-align: center;
  margin-top: 3%;
  color: #26495c;
}

span.input-group-text, button{
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  background-color: #26495c;
  color: #c4a35a;
}

i{
  color: #c4a35a;
}

