.container{
  width: 100%;
  margin-top: 5%;
  background-image: url("https://www.transparenttextures.com/patterns/elegant-grid.png");
  background-color: #f47a60;
  color: white;
}

.login{
  text-align: center;
  border: 1px solid black;
}

.signup{
  text-align: center;
  border: 1px solid black;
}

.input-group{
  margin-top: 3%;
  max-width: 100%;
}

.fa-lock{
  width: 16px;
}

button{
  margin: 3% auto;
}

.registration{
  text-align: center;
  margin-top: 3%;
  color: white;
}

span.input-group-text, button{
  background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
  background-color: #316879;
  color: #7fe7dc;
}

i{
  color: #7fe7dc;
}

