<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="https://i.imgur.com/LOM8WX2.png" alt="logo" class="responsiveImage"/>
        </div>
        <div class="col-sm-6 login">
            <div class="credentials">
                <input type="text" placeholder="Enter username" name="username" [(ngModel)]="username">
            </div>
            <div class="credentials">
                <input type="password" placeholder="Enter password" name="password" [(ngModel)]="password">
            </div>
            <div class="button">
                <button class="btn btn-success" (click)=checkLogin()>
                    Login
                </button>
            </div>

        </div>

    </div>

</div>
