.container-fluid{
  width: 100%;
  margin-top: 5%;
}

.user_info{
  margin: 3% auto;
  width:80%;
}

button{
  margin: 0 auto;
}

.responsiveImage{
  width: auto;
  height: auto;
  max-width: 100%;
}
