<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <img src="https://i.imgur.com/LOM8WX2.png" alt="logo" class="responsiveImage"/>
        </div>
        <div class="col-sm-6">
            <div class="form_container">
                <form
                        name="form"
                        #f="ngForm"
                        (ngSubmit)="f.form.valid && createUser()"
                        novalidate
                        class="signup-form"
                >
                    <!-- Name -->
                    <div class="input-group user_info">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-id-card"></i></span>
                        </div>
                        <input
                                type="text"
                                id="fullName"
                                name="fullName"
                                class="form-control"
                                placeholder="full name"
                                [(ngModel)]="userModel.name"
                                #name="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && name.invalid }"
                                required
                                minlength="3"
                        />
                        <div
                                *ngIf="f.submitted && name.invalid"
                                class="invalid-tooltip text-center w-100 mb-3 error-message"
                        >
                            <div *ngIf="name.errors?.required">
                                Must be at least 3 characters
                            </div>
                        </div>
                    </div>
                    <!-- Email -->
                    <div class="input-group user_info">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                        </div>
                        <input
                                type="email"
                                id="email"
                                name="email"
                                class="form-control"
                                placeholder="e-mail"
                                [(ngModel)]="userModel.email"
                                #email="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                                required
                                minlength="3"
                        />
                        <div
                                *ngIf="f.submitted && name.invalid"
                                class="invalid-tooltip text-center w-100 mb-3 error-message"
                        >
                            <div *ngIf="email.errors?.required">
                                Must be at least 3 characters
                            </div>
                        </div>
                    </div>
                    <!-- Username -->
                    <div class="input-group user_info">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
                        </div>
                        <input
                                type="text"
                                id="username"
                                name="username"
                                class="form-control"
                                placeholder="username"
                                [(ngModel)]="userModel.username"
                                #username="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && username.invalid }"
                                required
                                minlength="3"
                        />
                        <div
                                *ngIf="f.submitted && username.invalid"
                                class="invalid-tooltip text-center w-100 mb-3 error-message"
                        >
                            <div *ngIf="username.errors?.required">
                                Must be at least 3 characters
                            </div>
                        </div>
                    </div>

                    <!-- Password -->
                    <div class="input-group user_info">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        </div>
                        <input
                                type="password"
                                id="password"
                                name="password"
                                class="form-control"
                                placeholder="password"
                                [(ngModel)]="userModel.password"
                                #password="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && password.invalid }"
                                required
                                minlength="3"
                        />
                        <div
                                *ngIf="f.submitted && password.invalid"
                                class="invalid-tooltip text-center w-100 mb-3 error-message"
                        >
                            <div *ngIf="password.errors?.required">
                                Must be at least 3 characters
                            </div>
                        </div>
                    </div>
                    <!-- Confirm Password TODO: Need to fix data binding-->
                    <div class="input-group user_info">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-check-square"></i></span>
                        </div>
                        <input
                                type="text"
                                id="confirm"
                                name="confirm"
                                class="form-control"
                                placeholder="confirm password"
                                [(ngModel)]="userModel.password"
                                #confirm="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && confirm.invalid }"
                                required
                                minlength="3"
                        />
                        <div
                                *ngIf="f.submitted && confirm.invalid"
                                class="invalid-tooltip text-center w-100 mb-3 error-message"
                        >
                            <div *ngIf="password.errors?.required">
                                Must be at least 3 characters
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="d-flex justify-content-center login_container">
                            <button
                                    type="submit"
                                    class="btn btn-success login_btn"
                                    [disabled]="!f.form.valid"
                            >
                                Submit<span> <i class="fa fa-hand-pointer-o ml-2"></i></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>


        </div>

    </div>
</div>


