<header>
    <nav class ="navbar navbar-expand-lg">
        <div><a href="https://www.google.com/" class="navbar-brand">Schedule Me This</a></div>
        <ul class="navbar-nav">
            <li><a *ngIf="authService.isUserLoggedIn()" routerLink="/" class="nav-link">View Employees</a></li>
            <li><a *ngIf="authService.isUserLoggedIn()" routerLink="/addemployee" class="nav-link">Add New Employee</a></li>
            <li><a *ngIf="!authService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
            <li><a *ngIf="authService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a></li>
        </ul>
    </nav>
</header>
