<header>
<!--    <nav class ="navbar navbar-expand-lg">-->
<!--        <div><a href="https://www.google.com/" class="navbar-brand">Schedule Me This</a></div>-->
<!--        <ul class="navbar-nav">-->
<!--            <li><a *ngIf="authService.isUserLoggedIn()" routerLink="/" class="nav-link">View Employees</a></li>-->
<!--            <li><a *ngIf="authService.isUserLoggedIn()" routerLink="/addemployee" class="nav-link">Add New Employee</a></li>-->
<!--            <li><a *ngIf="!authService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>-->
<!--            <li><a *ngIf="authService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a></li>-->
<!--        </ul>-->
<!--    </nav>-->
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-dark mb-3">

            <a href="#" class="navbar-brand mr-3">Scheduler</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="#" class="nav-item nav-link active">Home</a>
                    <a href="#" class="nav-item nav-link">Calendar</a>
                    <a href="#" class="nav-item nav-link">Events</a>
                </div>
                <div class="navbar-nav ml-auto">
                    <a href="#" class="nav-item nav-link">Register</a>
                    <a href="#" class="nav-item nav-link">Login</a>
                </div>
            </div>

        </nav>
    </div>

</header>
