// #9
nav{
  //background-color: #c66b3d;
  //background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  background-color: #26495c;
}

//nav{
//  background-color: #12a4d9;
//  background-image: url("https://www.transparenttextures.com/patterns/xv.png");
//}


.nav-link, .navbar-brand{
  color: #c66b3d;
}
