// #9
nav{
  background-color: #1e847f;
  background-image: url("https://www.transparenttextures.com/patterns/xv.png");
}

//nav{
//  background-color: #12a4d9;
//  background-image: url("https://www.transparenttextures.com/patterns/xv.png");
//}


.nav-link, .navbar-brand{
  color: #000000;
}
